.card{
    margin: auto;
    width: 500px;
    border: 1px solid black;
    padding: 20px 20px;
}
.input{
    width: 492px;
    height: 40px;
    font-size: 25px;
}
table{
    margin-top: 20px;
    width: 100%;
}
td{
    text-align: center;
    width: 25%;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 25px;
    user-select: none;
}
td:hover{
    background-color: rgb(193, 193, 193);
}
.special{
    color: rgb(194, 107, 8);
}
.eql{
    background-color: rgb(90, 211, 92);
}